# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env

# Databases
backend/prisma/dev.db
backend/prisma/dev.db-journal

# IDEs
.vscode/

# Build
dist/
build/
.next/
out/

# OS
.DS_Store
Thumbs.db
